button.scroll-man {
    color: #000;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
    height: 25px;
}

button.scroll-man:hover {
    color: #fff;
    background-color: darkgray;
    box-shadow: 0 25px 0 0 rgba(0, 0, 0, 0.25) inset, 0 -25px 0 0 rgba(0, 0, 0, 0.25) inset;
}